# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.Zone.Identifier
*:Zone.Identifier

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Cesium
/public/cesium
repomix-output-*.xml

# nextJS
supabase_nextjs.txt

# Claude
CLAUDE.md
CLUE_SYSTEM_GUIDE.mdx
/home/danby/phaser-june/.mcp.json

# Repomix
repomix-output-*.xml